html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  fonf-family: 'Arial', sans-serif;
}

.mdc-toolbar__row {
  padding: 0 28px;
}

.mdc-toolbar__section {
  align-items: center;
}

.mdc-tab-bar {
  margin: 0;
  padding-top: 14px;
  display: flex;
}

.mdc-tab {
  color: rgba(255, 255, 255, 0.8);
}

.mdc-tab--active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.content {
  display: flex;
}

.content main:first-child {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mdc-card {
  height: 100%;
  justify-content: space-between;
}

.mdc-card img {
  max-width: 300px;
  height: 400px;
}

.mdc-card__primary {
  padding: 0 1em;
  text-align: left;
}

.mdc-card__horizontal-block {
  padding: 0;
  justify-content: flex-start;
  text-align: center;
}

.mdc-card__primary .mdc-card__title--large {
  margin-bottom: .5em;
  padding-top: 0;
}

.mdc-card__subtitle {
  margin-bottom: .5em;
}

#login {
  margin: 3rem auto;
}

#login form .mdc-textfield,
#login form .mdc-button {
  width: 100%;
  display: block;
}

#login form .mdc-textfield {
  margin-bottom: 1rem;
}

/* Book */
#book .mdc-card {
  margin: 16px;
}

/* Not Found */
#not-found {
  text-align: center;
  margin-top: 3em;
}

#not-found .material-icons {
  font-size: 4rem;
}


.mdc-permanent-drawer {
  width: auto;
  border-right: 1px solid lightgrey;
}

.mdc-list-item__start-detail {
  display: block;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.mdc-list-item-span {
  display: none;
}

.mdc-textfield__input {
  border: none;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  padding-top: 5px;
}

.mdc-textfield__input:focus {
  outline: none;
  border-bottom: 1px solid black;
}


.counter {
}

.counter--colored {
  background-color: lightgrey;
}

.counter__wrapper {
  width: 250px;
  margin: 40px auto;
}

.counter__buttons {
  display: flex;
  justify-content: space-around;
}

.counter__value {
  font-size: 40px;

}

.counter__title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

hr {
  margin: 10px 0;
}


.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 50px auto 0;
  padding: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
}

.tabs .tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    transition: all 0.2s;
}

.tabs .tab:hover {
    background-color: rgba(158, 158, 158, 0.1);
}

.tabs .tab.active {
    color: rgba(0, 0, 0, 0.8);
}

.tabs .tab.active::after {
    content: " ";
    height: 2px;
    width: 100%;
    display: block;
    bottom: -1px;
    left: 0;
    position: absolute;
    background-color: #6200ee;
}


@media (min-width: 768px) {
.mdc-permanent-drawer {
   width: 20%;
}
  .mdc-list-item-span {
    display: inline;
  }
}

 @media (min-width: 1200px) {
}
